.content_container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.slider_container,
.title {
  text-align: center;
}

.grid_container {
  display: grid;
  margin: 1em;
  gap: 0px;
  align-items: center;
  justify-content: center;
}

.cell {
  padding: 1em;
  margin: 0px;
  border: solid 1px brown;
  background-color: pink;
  /* height: 10px;
    width: 10px; */
}

/* .grid_16x16 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
} */

.grid_size {
}

/* .cell:hover{
    background-color: deeppink;
} */

.test {
  padding: 1em;
  margin: 1em;
}
