.content_container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1em;
  margin: 1em;
}
.title {
  margin: 0;
}

.slider_container,
.title {
  text-align: center;
}

.grid_container {
  display: grid;
  padding: 0px;
  margin: 0px;
  gap: 0px 0px;
  /* justify-content: stretch; */
  /* height: 732px; */
  max-height: 600px;
  /* width: 600px;  */
  align-content: center;
  border: solid 1px rebeccapurple;
}

.cell {
  flex: auto;
  box-sizing: border-box;
  border: solid 1px brown;
  background-color: pink;
  padding: 0;
  margin: 0;
  /* height: 5px;
  width: 5px; */
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*this is where the new layout css is*/
/*-----------------------------------------*/ /*-----------------------------------------*/
/*-----------------------------------------*/ /*-----------------------------------------*/
/*-----------------------------------------*/ /*-----------------------------------------*/
/*-----------------------------------------*/ /*-----------------------------------------*/

.container {
  background-color: yellow;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  /*dont know if this should be here*/
  /* flex: 1;   */
}
.btn_options {
  background-color: orange;
  border: dashed 5px black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /*dont know if this should be here*/
  /* flex: 1; */
  padding: 10em 1em;
}

#colour_btn,
#erase_btn,
#rainbow_switch {
  /* border: none; */
  padding: 0em 5em;
  /* margin: 6em 0em; */
  flex: 1;
  /* height: 1em; */
}

/* --colour selector button--  */
.inputs {
  display: flex;
  justify-content: space-between;
  /* gap: 1em; */
  align-items: center;
  background-color: red;
  padding: 1em;
}
.inputs:hover {
  box-sizing: border-box;
  border: solid 1px purple;
  box-shadow: 10px;
}
.colour_label {
  background-color: beige;
  padding: 1em;
}
#colour_selector {
  padding: 0;
  height: 100%;
  /* width: 100%; */
  /* width: 100%; */
  /* justify-items: center; */
  flex: 2;
  /* border: double 5px black; */
  border: none
}

/*
TODO: do it through tjs since it has to happen with one or the other at the same time
*/
/* .colour_label:hover,
#colour_selector:hover {
  border: solid 1px black;
} */

.canvas_container {
  background-color: purple;
  border: dashed 5px orangered;
}

.slider_section {
  /* //i wanna switch to this */
}

.slider_container {
  padding: 1em;
  margin: 1em;
  background-color: green;
  border: dashed 5px goldenrod;
}

/*-----------------------------------------*/ /*-----------------------------------------*/
/*-----------------------------------------*/ /*-----------------------------------------*/
/*-----------------------------------------*/ /*-----------------------------------------*/
/*-----------------------------------------*/ /*-----------------------------------------*/
